/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.content{
    -ms-grid-column: 5;
        grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 3 / 5 / auto / 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about{
    -ms-grid-row: 4;
        grid-row: 4;
    text-align: center;
    min-width: 300px;
}

.button:visited{
    color: #17202A;
}

.table{
    position: relative;
    text-align: center;
    left: 10px;
}

table{
    border: 2px solid #DCE0E0;
}

th{
    border: 1px solid #DCE0E0;
    padding: 1em;
}

td{
    border: 1px solid #DCE0E0;
    padding: .5em;
}

.programmer{
    position: relative;
    margin-top: 20px;
}

@-webkit-keyframes circle-rotate{
    from{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to{
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

@keyframes circle-rotate{
    from{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to{
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

@-webkit-keyframes square1-bounce{
    from{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        -webkit-transform: rotateX(3deg) rotateY(-3deg);
                transform: rotateX(3deg) rotateY(-3deg);
    }
}

@keyframes square1-bounce{
    from{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        -webkit-transform: rotateX(3deg) rotateY(-3deg);
                transform: rotateX(3deg) rotateY(-3deg);
    }
}

@-webkit-keyframes square2-bounce{
    from{
        -webkit-transform: rotateX(-3deg) rotateY(3deg);
                transform: rotateX(-3deg) rotateY(3deg);
    }
    to{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
    }
}

@keyframes square2-bounce{
    from{
        -webkit-transform: rotateX(-3deg) rotateY(3deg);
                transform: rotateX(-3deg) rotateY(3deg);
    }
    to{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
                transform: rotateX(0deg) rotateY(0deg);
    }
}

@-webkit-keyframes foot-bounce{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
}

@keyframes foot-bounce{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
}

@-webkit-keyframes arm-bounce{
    0%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    5%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    10%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    15%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    20%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    25%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    30%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    100%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
}

@keyframes arm-bounce{
    0%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    5%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    10%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    15%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    20%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    25%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    30%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
    100%{
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
    }
}

#Circles{
    -webkit-animation: 10s circle-rotate infinite linear;
            animation: 10s circle-rotate infinite linear;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box;
}

#Square-1{
    -webkit-animation: 1s square1-bounce infinite alternate linear;
            animation: 1s square1-bounce infinite alternate linear;
}

#Square-2{
    -webkit-animation: 1s square2-bounce infinite alternate linear;
            animation: 1s square2-bounce infinite alternate linear;
}

#Foot{
    -webkit-animation: .8s foot-bounce infinite alternate ease;
            animation: .8s foot-bounce infinite alternate ease;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box;
}

#Arm-Top{
    -webkit-animation: 3.3s arm-bounce infinite ease;
            animation: 3.3s arm-bounce infinite ease;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    transform-box: fill-box;
}

@media all and (min-width: 0px) and (max-width: 500px){
    .about{
        max-width: 400px;
    }
}

@media all and (min-width: 0px) and (max-width: 768px){
    .projects{
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
}