/*
Colors used

Text Color:  #DCE0E0;
Primary Color: #34495E;
Secondary Color: #566573;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color:  #34495E;
    color: #DCE0E0;
}

header{
    z-index: 1;
    position: sticky;
    top: 0;
}

.header{
    background-image: linear-gradient(to right, #34495E , #566573);
    width: 100vw;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 18px;
    font-weight: 700;
}

a{
    color: #DCE0E0;
}

a:visited{
    color: #0BD6E5;
}

a:hover, a:focus{
    text-decoration: none;
}

.footer{
    background-image: linear-gradient(to bottom, #34495E , #566573);
}

.footer h3{
    font-weight: 200;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-rows: 1fr;
}

.header{
    align-items: center;
    grid-column: 1 / -1;
    display: flex;
    padding-left: 20px;
    height: min-content;
}

button, .button{
    /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: #DCE0E0;
    color: #17202A;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus{
    /*turn mouse to hand*/
    cursor: pointer;
    /*reduce opacity*/
    opacity: 0.8;
}

.footer{
    grid-row-start: 7;
    grid-column: 1 / -1;
    text-align: center;
    align-content: space-around;
    display: grid;
}