:root{
    --primary-color: #34495E;
    --secondary-color: #566573;
    --text-primary: #DCE0E0;
    --text-highlight: #0BD6E5;
    --text-inverted: #17202A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color:  var(--primary-color);
    color: var(--text-primary);
}

header{
    z-index: 1;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, var(--primary-color) , var(--secondary-color));
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 18px;
    font-weight: 700;
}

a{
    color: var(--text-primary);
}

a:visited{
    color: var(--text-highlight);
}

a:hover, a:focus{
    text-decoration: none;
}

.footer{
    background-image: linear-gradient(to bottom, var(--primary-color) , var(--secondary-color));
}

.footer h3{
    font-weight: 200;
}

.grid-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-rows: 1fr;
}

.header{
    align-items: center;
    grid-column: 1 / -1;
    display: flex;
    padding-left: 20px;
    height: min-content;
}

button, .button{
    /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: var(--text-primary);
    color: var(--text-inverted);
    text-decoration: none;
    padding: .75em;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus{
    /*turn mouse to hand*/
    cursor: pointer;
    /*reduce opacity*/
    opacity: 0.8;
}

.footer{
    grid-row-start: 7;
    grid-column: 1 / -1;
    text-align: center;
    align-content: space-around;
    display: grid;
}

.footer__item{
    padding-top: 1em;
}
.footer p{
    padding-bottom: 1em;
}

@media all and (min-width: 0px) and (max-width: 500px){
    h1{
        font-size: 22px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }

    .grid-container{
        grid-template-columns: repeat(12, auto);
    }
}