.content{
    grid-area: 4 / 4 / auto / 10;
    display: flex;
    align-self: center;
    justify-content: center;
}

.selfie{
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    margin-right: 20px;
}

.selfie__item{
    width: 100%;
    height: auto;
}

mark{
    background-color: #000;
    color:  #B7950B;
}

.introduction{
    min-width: 250px;
}

@media all and (min-width: 0px) and (max-width: 768px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
}