/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.content{
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: 4 / 4 / auto / 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.selfie{
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    margin-right: 20px;
}

.selfie__item{
    width: 100%;
    height: auto;
}

mark{
    background-color: #000;
    color:  #B7950B;
}

.introduction{
    min-width: 250px;
}

@media all and (min-width: 0px) and (max-width: 768px){
    .content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        margin-top: 10px;
    }
}