.body{
    grid-template-rows: repeat(8, 1fr);
}

.content{
    grid-area: 2 / 3 / 7 / 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 10px;
}

.content__item, .content__item p, .content__item a{
    background-color: lightgray;
    color: #000;
}

.content__item{
    height: 100%;
    width: 100%;
}

.content__title{
    grid-column: span 3;
    align-self: center;
    justify-self: center;
}



.footer{
    grid-row-start: 8;
}