.content{
    grid-area: 2 / 3 / auto / 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 10px;
}

.projects__item, .projects__item p, .projects__item a{
    background-color: lightgray;
    color: #000;
}

.projects__item{
    height: 100%;
    width: 100%;
    padding: 1em;
}

.projects__title{
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

@media all and (max-width: 500px){
    .projects{
        grid-template-columns: repeat(1, minmax(250px, 300px));
    }
}

@media all and (min-width: 500px) and (max-width: 768px){
    .projects{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media all and (min-width: 0px) and (max-width: 768px){
    .projects{
        grid-template-rows: auto;
    }
}