/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/

body{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1{
  font-size: 30px;
  font-weight: 700;
}

h2{
  font-size: 24px;
  font-weight: 700;
}

h3{
  font-size: 18px;
  font-weight: 700;
}

a{
  color: #357b70;
}

a:visited{
  color: #05676e;
}

a:hover, a:focus{
  text-decoration: none;
}

a:active{
  color: #489c79;
}

button{
  /*override default*/
  border: none;
  /*inherit font from parent*/
  font-family: inherit;
  /*style button and font*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus{
  /*turn mouse to hand*/
  cursor: pointer;
  /*reduce opacity*/
  opacity: 0.8;
}

.navigation-list__item--active{
  text-decoration: none;
}