@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --hilight-color: #f24906;
    --text-dark: #000;
    --text-light: #fff;
    --gradient-dark: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* Scrollbar Section */
body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--hilight-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-track-piece{
    background: var(--gradient-dark);
}
/* End Srollbar Section */

/* Universal Section */
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: var(--text-dark);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: var(--text-dark);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: var(--hilight-color);
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: var(--text-light);
    background-color: var(--hilight-color);
    border: 2px solid var(--hilight-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color, color;
}

.cta:hover {
    background-color: var(--hilight-color);
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--text-light)
}

.brand h1 span {
    display: inline-block;
	margin: 0 auto;

    /* Clip Background Image */

	background: url(../../assets/animated-text-fill.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;

    /* Animate Background Image */

	color: transparent;
	animation: animated-text 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    transform: translate3d(0,0,0);
	backface-visibility: hidden;
}
/* End Universal Section */

/* Header Section */
#header {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, .24);
    transition: .3s ease background-color;
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}



#header .navlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .navlist ul.active {
    left: 0;
}

#header .navlist ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: var(--text-light);
    text-transform: uppercase;
    padding: 20px;
    display: block;
    transition: .3s ease color;
}

#header .navlist ul li:hover a {
    color: var(--hilight-color);
}

#header .navlist ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240,248, 255, .021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .navlist ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 3px solid var(--text-light);
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}

#header .hamburger::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--text-light);
    animation: hamburger_pulse 2s ease infinite;
}

#header .hamburger .bar {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--text-light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 3px;
    background-color: var(--text-light);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

#header .hamburger .bar::before {
    transform: translateY(-12px);
}

#header .hamburger .bar::after {
    transform: translateY(12px);
}

#header .hamburger.active .bar {
    transform: translateX(-50px);
    background-color: transparent;
}

#header .hamburger.active .bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}

#header .hamburger.active .bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* End Header Section*/

/*Hero Section */
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    color: var(--text-light);
}

#hero .dynamic-container {
    display: flex;
}

#hero .dynamic{
    color: var(--hilight-color);
    font-size: 4rem;
    font-weight: 700;
    overflow: hidden;
    border-right: 6px solid var(--hilight-color);
    white-space: nowrap;
    letter-spacing: .3em;
    margin-left: 1rem;
    animation: 
        typing 5s steps(7) infinite,
        blink-caret .75s step-end infinite;
}

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;

}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: var(--hilight-color);
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
}

#about .col-right .cta:hover {
    color: var(--text-dark)
}

#about .col-left .about-image{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid var(--text-light);
}

#about .col-left .about-image::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid var(--hilight-color);
    z-index: -1;
}

/* End About Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: var(--gradient-dark);
    color: var(--text-light);
}

#projects .project-info a {
    color: var(--text-light);
    text-decoration: underline;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px
}

#projects .project-info p {
    color: var(--text-light);
}

#projects .project-image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: var(--gradient-dark);
    opacity: .7;
}

#projects .project-image img {
    transition: .3s ease transform;
    object-fit: cover;
}

#projects .projects-item:hover .project-image img{
    transform: scale(1.1);
}
/* End Projects Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#contact .contact-items {
    width: 400px;
}

#contact .contact-items a {
    color: var(--text-dark);
}

#contact .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 0px 18px #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px #0000002c;
}

#contact .contact-item .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* End Contact Section */

/* Footer */
#footer {
    background-image: var(--gradient-dark);
}

#footer .footer {
    flex-direction: column;
    text-align: center;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    object-fit: contain;
    filter: grayscale(0);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer h2 {
    color: var(--text-light);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* End Footer */

/* Parallax */

#parallax1 {
    background-image: url(../../assets/programming.jpg);
    z-index: -1;
}

#parallax2 {
    background-image: url(../../assets/network.jpg);
    z-index: -1;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero::after, #parallax1::after, #parallax2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero, #parallax1, #parallax2 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/* End Parallax */

@keyframes animated-text {
    from {
        background-position: 0% 50%;
    }
	to {
        background-position: 100% 50%;
    }
}

/* Keyframes */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
    75% {
        width: 90%;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--hilight-color);}
}

@keyframes hamburger_pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.4);
    }
}
/* End Keyframes */

/* Tablet Media Query */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 7rem;
    }

    /* Hero */
    #hero h1, #hero .dynamic {
        font-size: 7rem;
    }
    /* End Hero */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-image::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid var(--hilight-color);
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1{
        text-align: left;
    }

    /* End About */

    /* Projects */
    #projects .projects-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .projects-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .all-projects .project-info {
        height: 100%;
        
    }

    #projects .all-projects .project-image {
        height: 100%;

    }
    /* End Projects */
}
/* End Tablet Media Query */

/* Desktop Media Query */
    @media only screen and (min-width: 1200px) {
        .cta {
            background-color: transparent;
        }

        /* Header */
        #header .hamburger {
            display: none;
        }

        #header .navbar {
            max-width: 100vw;
            margin: 0 20px 0 20px;
        }

        #header .navlist ul {
            position: initial;
            display: block;
            height: auto;
            width: fit-content;
            background-color: transparent;
        }

        #header .navlist ul a:after {
            display: none;
        }

        #header .navlist ul li {
            display: inline-block;
        }

        #header .navlist ul li a {
            font-size: 2rem;
        }
        /* End Header */

        /* Footer */
        #footer .social-item img {
            filter: grayscale(1);
        }
        /* End Footer */
    }
/* End Desktop Media Query */